[run]
# Include the main CLI script and the classes directory
source = 
    classes/*

# Exclude test files
omit = 
    */tests/*
    gh_tt/modules/*
    setup.py
    gh_*.py

[report]
# Fail the build if the coverage is less than threshold
fail_under = 54

# Skip empty files
skip_empty = True

