[run]
# Include the main CLI script and the classes directory
source = 
    gh_semver.py
    classes/*

# Exclude test files
omit = 
    tests/*
    setup.py

[report]
# Fail the build if the coverage is less than 80%
fail_under = 45

# Skip empty files
skip_empty = True

