# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: End to End Testing

on:
  workflow_call:

permissions:
  statuses: write

jobs:
  smoke_test:
    name: Smoke test - clean install with uv
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          # Latest python compliant with the project's requires-python
          python-version-file: 'pyproject.toml'
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
            # Latest uv compliant with the project's tool.uv required version
            version-file: 'pyproject.toml'

      - name: Install extension
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh extension install .
      - name: Verify extension runs
        run: gh tt --help

  e2e:
    name: End to end tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          # Latest python compliant with the project's requires-python
          python-version-file: 'pyproject.toml'

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
            # Latest uv compliant with the project's tool.uv required version
            version-file: 'pyproject.toml'

      - name: Generate GitHub App installation token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.QA_RUNNER_APP_ID }}
          private-key: ${{ secrets.QA_RUNNER_SECRET }}
          owner: gh-tt-qa
          permission-organization-projects: admin
          permission-administration: write
          permission-issues: write
          permission-contents: write
          permission-pull-requests: write

      - name: Install gh-tt extension
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          gh extension install .

      - name: Get GitHub App User ID
        id: get-user-id
        run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Configure Git
        run: |
          git config --global user.name '${{ steps.app-token.outputs.app-slug }}[bot]'
          git config --global user.email '${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token  .outputs.app-slug }}[bot]@users.noreply.github.com'
          git config --global url.'https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/'.insteadOf 'https://github.com/'
      
      - name: Run end to end tests
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
          QA_ORGANIZATION_ID: ${{ vars.QA_ORG_ID }}
        run: |
          uv run --frozen pytest -m end_to_end
