
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Ready
# This workflow is triggered by 'ready' branches 

on:
  workflow_dispatch:
  push:
    branches: 
      - 'ready/*'

permissions:
  contents: write
  issues: write

jobs:

  mark-pending:
    name: Statuses
    permissions:
      statuses: write
      contents: read
    uses: thetechcollective/workflows/.github/workflows/doing_mark_pending.yaml@stable
    with:
      statuses: |
        E2E in testbed

  inherit-statuses:
    name: Inherit statuses
    permissions:
      statuses: write
      contents: read
    uses: thetechcollective/workflows/.github/workflows/doing_inherit_statuses.yaml@stable

  pytest_integration:
    name: Integration testing
    needs: 
      - mark-pending
      - inherit-statuses
    permissions:
      statuses: write
    # continue-on-error: true # <- This doesn't work in reusable workflows, so we set it in the integration_test.yml
    secrets: inherit
    uses: ./.github/workflows/integration_test.yml
    with:
      context: E2E in testbed

  fast-forward-merge:
    name: Merge
    needs:
      - pytest_integration
    permissions:
      contents: write
    secrets:
      token: ${{ secrets.READY_PUSHER }}
    uses: thetechcollective/workflows/.github/workflows/doing_fast_forward.yaml@stable
    with:
      target_branch: main #default is main
      user_name: "GitHub Action: ready" #required 
      user_email: "tt-ready@thetechcollective.eu" # required

  close_issue:
    needs: fast-forward-merge
    permissions:
      issues: write
      contents: write
    uses: thetechcollective/workflows/.github/workflows/doing_close_issue.yaml@stable
    with:
      user_name: "GitHub Action: ready" #required 
      user_email: "tt-ready@thetechcollective.eu" # required
      delete_issue_branch: true # default is true
      delete_ready_branch: true # default is true

